<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>listAll</servlet-name>
        <servlet-class>controller.listAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>controller.add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>remove</servlet-name>
        <servlet-class>controller.remove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>controller.update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addBus</servlet-name>
        <servlet-class>controller.addBus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addStop</servlet-name>
        <servlet-class>controller.addStop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addRoute</servlet-name>
        <servlet-class>controller.addRoute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addRelation</servlet-name>
        <servlet-class>controller.addRelation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listAll</servlet-name>
        <url-pattern>/listAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>remove</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addBus</servlet-name>
        <url-pattern>/addBus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addStop</servlet-name>
        <url-pattern>/addStop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addRoute</servlet-name>
        <url-pattern>/addRoute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addRelation</servlet-name>
        <url-pattern>/addRelation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
